@import "tailwindcss";

:root {}

@theme {
  /* Green Color */
  --color-main-850: #3b5524;
  --color-main-800: #446627;
  --color-main-750: #73bc31;
  --color-main-700: #6ec51e;
  --color-main-300: #a5c492;
  --color-main-200: #f3f7ef;
  /* Grey Color */
  --color-grey-200: #353540;
  --color-grey-400: #3d424b;
  --color-grey-500: #414141;
  --color-grey-300: #afabab88;
  --color-grey-350: #969ba0;
  --color-grey-50: #efefef;
  /* Black Color */
  --color-black-900: #000000;
  --color-black-800: #212738;
  --color-black-icon-text-700: #212738;
  --color-black-icon-500: #4d5260;
  --color-black-text-400: #878a94;
  /* White Color */
  --color-white-900: #ffffff;
  --color-white-table-800: #fffcfb;

  /* Table */
  --color-head-blue-900: #f3faff;
  --color-blue-600: #cee9ff;
  --color-red-600: #fed5d2;

  --color-circle-icon-blue: #cee9ff;
  --color-circle-icon-green: #daf17e;
  --color-circle-icon-yellow: #fff080;

  /* Dashboard */
  --color-icon-red: #ff285c;
  --color-icon-red-stroke: #ffc3d2;
  --color-blue: #1ea7c5;
  --color-icon-blue-stroke: #eefcff;
  --color-orange: #ff9432;
  --color-icon-green-stroke: rgba(255, 148, 50, 26%);
  --color-icon-green-stroke: #c0ff86;
  --color-yoga: #c046d3;

  /* Shadow */
  --shadow-custom-1: 32px 31px 83px rgba(0, 0, 0, 0.25);
  --shadow-notification: 15px 20px 50px rgba(0, 0, 0, 0.45);
  --shadow-add-exersices-right: 23px 31px 90px rgba(0, 0, 0, 0.45);
  --shadow-add-exersices-left: -45px 20px 45px rgba(0, 0, 0, 0.2);
  --shadow-green-custom-1: 0px 0px 10px 5px rgba(110, 197, 30, 0.4);
  --shadow-red-custom-1: 0px 0px 10px rgba(255, 40, 92, 70%);
  --shadow-blue-custom-1: 0px 0px 10px rgba(30, 167, 197, 70%);
  --shadow-orange-custom-1: 0px 0px 10px rgba(255, 148, 50, 70%);
  --shadow-menu-sidebar: 0px 0px 5px 2px rgba(118, 206, 36, 90%);

}

.gradient-1 {
  background-image: linear-gradient(to bottom left,
      var(--color-main-700) 22%,
      var(--color-main-300) 99%);
}

.gradient-2 {
  background-image: linear-gradient(to right,
      var(--color-main-700),
      var(--color-grey-200));
}

.signup-form,
.login-form,
.recovery-form {
  @apply w-md h-fit shadow-custom-1 rounded-lg p-8 mx-4 bg-grey-50;
}

.test {}

.app-layout-header {
  @apply flex justify-between items-center m-3 rounded-xl bg-gray-50 shadow-sm p-4 col-span-2 sm:row-span-1 sm:col-span-1;
}

.sidebar {
  @apply absolute -left-[240px] top-3 bottom-3 bg-gray-50 text-grey-350 rounded-xl py-4 w-60 flex flex-col items-center transition duration-500 sm:relative sm:row-span-2 sm:m-3 sm:mr-0 sm:left-0 sm:top-0 sm:bottom-0 sm:translate-x-0 sm:w-fit lg:w-60 z-50;

  /* 
    absolute -left-full top-3 bottom-3 bg-gray-50 text-grey-350 rounded-xl p-4 w-60 flex flex-col items-center sm:relative sm:row-span-2 sm:mr-3 sm:w-fit xl:w-60;
  */
}

.sidebar-links-list {}

.sidebar-link-icon {
  @apply text-xl w-11 h-11 rounded-full bg-white flex justify-center items-center md:bg-transparent;
}